div{  
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
 
  
  #my-id{
    font-family: Brush Script MT, Brush Script Std, cursive; 
    font-size: 22px;
  }
  .box{
    margin-top: 50px;
  }
  .box.blue{
   color:blue; 
    }
  .box.box.blue p:first-child{
    color: orangered;
  }
.box.large p{
    font-size: xx-large;
    font-family: 'Libre Baskerville', serif ;
}
 /*comma (space) means apply style to all element*/
  div .box{
       color: yellow;
       background-color: blue;
  }
  div .box p{
    background-color: green;
  }
  
 
  /* when you use (>) directly to the children*/
  article > p{
      background-color: red;
      /* the p:hover is called studio css*/
  }
  div p:hover{
      color: green;
      font-size: xx-large;
  }
  
  p, div {
     background-color: aqua;
     margin-left: auto;
     margin-right: auto;
     width: 500px; 
     text-align: center; 
    background-color: lightgray;
  }