Body {
    background-color: rgb(70, 0, 128);
    color: yellow;
    font-family: 'ABeeZee';font-size: 14px;
}
h1 {
color:rgb(0, 255, 42);
font-family: 'Annie Use Your Telescope';font-size: 22px;
}

h2 {
color: rgb(90, 128, 0);
}
img { width:250px;

}
a{color: blue;

}
